.content-main {
  width: 100%;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}


.content-main-new {
  width: 100%;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
